<style>
    /* Blue outline on focus */
    .StripeElement--focus {
        border-color: #80BDFF;
        outline:0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    /* Can't see what I type without this */
    #card-number.form-control,
    #card-cvc.form-control,
    #card-exp.form-control {
        display:inline-block;
    }
</style>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag @listing.productimage %>
    </div>
    <h3><%= @listing.item %></h3>
    <h4><%= number_to_currency(@listing.price) %></h4>
    <%= link_to 'Back', listings_path, class: "btn-link" %>
  </div>
  <div class="col-md-8">

    <%= form_for([@listing, @order]) do |form| %>
      <% if @order.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :postcode %>
        <%= form.text_field :postcode, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phonenumber, "Phone Number" %>
        <%= form.text_field :phonenumber, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

        <div id="card-errors" role="alert"></div>
        <div class="card">
            <div class="card-body">
                <form id="payment-form">
                    <label for="name">Name on Card</label>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-8">
                        <input type="text" class="form-control" id="name">
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        </div>
                      </div>
                    </div>

                    <label for="card-number">Credit Card Number</label>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-8">
                        <span id="card-number" class="form-control">
                            <!-- Stripe Card Element -->
                        </span>
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        </div>
                      </div>
                    </div>

                    <label for="card-cvc">CVC Number</label>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-8">
                        <span id="card-cvc" class="form-control">
                            <!-- Stripe CVC Element -->
                        </span>
                    </div>
                    </div>
                  </div>

                    <label for="card-exp">Expiration</label>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-8">
                        <span id="card-exp" class="form-control">
                            <!-- Stripe Card Expiry Element -->
                        </span>
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                    </div>
                    </div>
                  </div>
                    <button id="payment-submit" class="btn btn-primary">Submit Payment</button>
                </form>
            </div>
        </div>
      </div>
    <% end %>


<!-- All javascript below is for for validating credit card information -->
<!-- Checks if payment field is complete / valid -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    $(document).ready(function(){

        // Create a Stripe client
        var stripe = Stripe('pk_test_mwNaFVuSCZIzo4rlyZb6q6XI00rutbxrBe');

        // Create an instance of Elements
        var elements = stripe.elements();

        // Try to match bootstrap 4 styling
        var style = {
            base: {
                'lineHeight': '1.35',
                'fontSize': '1.11rem',
                'color': '#495057',
                'fontFamily': 'apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif'
            }
        };

        // Card number
        var card = elements.create('cardNumber', {
            'placeholder': '',
            'style': style
        });
        card.mount('#card-number');

        // CVC
        var cvc = elements.create('cardCvc', {
            'placeholder': '',
            'style': style
        });
        cvc.mount('#card-cvc');

        // Card expiry
        var exp = elements.create('cardExpiry', {
            'placeholder': '',
            'style': style
        });
        exp.mount('#card-exp');

        // Submit
        $('#payment-submit').on('click', function(e){
            e.preventDefault();
            var cardData = {
                'name': $('#name').val()
            };
            stripe.createToken(card, cardData).then(function(result) {
                console.log(result);
                if(result.error && result.error.message){
                    alert(result.error.message);
                }else{
                    alert(result.token.id);
                }
            });
        });

    });
</script>

