<div class="jumbotron">
  <div class="container">
    <h1>The Premier Marketplace<br>
    for Pre-loved Skydive Gear.</h1>
    <h2>Buy - Sell - Chat.  Your home away from the drop-zone.</h2>
  </div>
</div>


<h2>All Listings</h2>
<%= will_paginate @listings, class: 'pagination_bar' %>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="product-card">
        <%= link_to image_tag(listing.productimage, class: 'custom-thumbnail'),
        listing %>
        <div class="middle">
          <button>
            <%= link_to "View Item", listing, class: 'product-button' %>
            <div class="text"></div>
          </button>
        </div>
        <div class="caption">
          <h3><%= truncate(listing.item, length:22) %></h3>
          <p class="price"><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
          <p><%= truncate(listing.location, length:36) %></p>
          <p><%= truncate(listing.description, length:75) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>